<div class="container">
	<div class="content_wrapper">
		<div class="wrapper">
			<h1 class="center">별자리</h1>
			<div class="header center">
				<a href="https://namu.wiki/w/%ED%8C%8C%EC%9D%BC:tlXewr.jpg" target="_blank">
					<img src="https://file.namu.moe/file/%ED%8C%8C%EC%9D%BC%3AtlXewr.jpg" class="header_img" alt="별자리판"/>
				</a>
			</div> 
			<p class="header_text">
			참고로 이 별자리판에 나와있는 별자리는 대략 북회귀선에 해당하는 위도(23.5°N)에서 볼 수 있는 것들로서, 12시(왼쪽으로 약 7° 정도 기울어져 있음)~1시 구간은 8월 별자리이며, 1시~2시 구간은 9월 별자리, 2시~3시 구간은 10월 별자리이다.
			</p>
		</div>
		
		<% @contents.each do |content| %> 
		<div class="wrapper" id="sec<%= content.sequence %>">
			<div class="bottom_border">
				<h2 style="display:inline-block"><span class="red"><%= content.sequence %>. </span><%= content.title %></h2>
				<span class="f-right edit_label red">
					<strong><%= link_to '[편집]', edit_content_path(content) %></strong>
				</span>
			</div>
			<p>
			<%= raw content.text %>
			</p>
		</div>
		<% end %>
		<div class="wrapper" id="sec4">
			<h2><span class="red">4. </span>생일별 별자리 - 황도 12궁</h2>
			<div class="center">
				<table class='table'>
					<thead class="thead red">
						<tr>
							<th class="center width_100"><strong>별자리</strong></th>
							<th class="center width_200"><strong>날짜</strong></th>
						</tr>
					</thead>
					<tbody>
						<% @horoscopes.each_with_index do |horoscope, index| %>
							<tr class="table_row_<%= index%2== 0 ? 'even' : 'odd' %>">
							<td class="center"><%= horoscope.title %></td>
							<td class="center"><%= horoscope.start_dt.strftime("%m월 %d일") %> ~ <%= horoscope.end_dt.strftime("%m월 %d일") %></td>
						  </tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="horo_wrapper">
				<% @horoscopes.each_with_index do |horoscope, index| %>
				<a href="javascript:;" data-id="<%= horoscope.id %>">
					<div class="div_25">
						<img class="horo_img" src="<%=horoscope.img_url %>" alt="양자리"/>
						<div><strong><%= horoscope.title %></strong></div>
						<span><%= horoscope.start_dt.strftime("%m. %d") %> - <%= horoscope.end_dt.strftime("%m. %d") %></span>
					</div>
				</a>
				<% end %>
			</div>
			<div class="wrapper bg_info center" id="sec5">
				<strong>
					내 별자리를 클릭해 오늘의 운세를 확인하세요
				</strong>
			</div>
			<div class="hidden">
				<h3 class="center">오늘의 궁합</h3>
				<div class="div_33">
					<img class="horo_img" id="comb_img1" src="" alt=""/>
					<div><strong>연애</strong></div>
					<span id="comb1"></span>
				</div>
				<div class="div_33">
					<img class="horo_img" id="comb_img2" src="" alt=""/>
					<div><strong>우정</strong></div>
					<span id="comb2"></span>
				</div>
				<div class="div_33">
					<img class="horo_img" id="comb_img3" src="" alt=""/>
					<div><strong>직업</strong></div>
					<span id="comb3"></span>
				</div>
			</div>
		</div>
		<div class="wrapper bg_warning" id="sec5">
			<strong>자료 출처:
				<a href="https://namu.wiki/w/%eb%b3%84%ec%9e%90%eb%a6%ac" target="_blank">
					나무위키 > 별자리		
				</a>
			</strong>
		</div>
	</div>
	<div class="side_menu"> 
		<h4 id="side_menu_title">목차</h4>
		<ol>
			<% @contents.each do |content| %> 
			<li><a href="#sec<%= content.sequence %>"> <%= content.title %> </a></li>
			<% end %>
			<li><a href="#sec<%= @contents.length + 1 %>">생일별 별자리</a></li>
			<li><a href="#sec<%= @contents.length + 2 %>">자료 출처</a></li>
		</ol>
	</div>
</div>
<script>
	$(document).ready(function() {
		$(".horo_wrapper a").on("click", function() {
			var id = $(this).data('id');
			$.ajax({
				url:'/api/horoscopes/fortune/'+id,
				dataType: 'JSON',
				success: function(data) {
					$(".hidden").removeClass("hidden");
					data.forEach(function(d, i) {
						$("#comb_img"+(i+1)).attr("src", d.img_url);
						$("#comb_img"+(i+1)).attr("alt", d.title);
						$("#comb"+(i+1)).text(d.title);
					});
					$('html, body').animate({
						scrollTop: $("#comb1").offset().top
					}, 20);
				}
			});
		});

	});

	$(document).on('turbolinks:click', function (event) {
		if (event.target.getAttribute('href').charAt(0) === '#') {
			return event.preventDefault()
		}
	})
</script>
