<div class="container">
	<div class="content_wrapper">
		<div class="wrapper">
			<%= raw @document.header %>
		</div>
		
		<% @contents.each do |content| %> 
		<div class="wrapper" id="sec<%= content.sequence %>">
			<h2><span class="red"><%= content.sequence %>. </span><%= content.title %></h2>
			<p>
			<%= raw content.text %>
			</p>
		</div>
		<% end %>
		<div class="wrapper bg_warning" id="sec5">
			<%= raw @document.reference %>
		</div>
	</div>
	<div class="side_menu"> 
		<h4 id="side_menu_title">목차</h4>
		<ol>
			<% @contents.each do |content| %> 
			<li><a href="#sec<%= content.sequence %>"> <%= content.title %> </a></li>
			<% end %>
			<li><a href="#sec<%= @contents.length + 1 %>">자료 출처</a></li>
		</ol>
	</div>
</div>
